@model TestMVCProject.Models.NASAElement

@{
    ViewBag.Title = "NasaDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NasaDetail</h2>

<div>
    <h4>Nasa API Response Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            Explanation :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.explanation)
        </dd>

        <dt>
            HDURL :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hdurl)
        </dd>

        <dt>
            Media Type :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media_type)
        </dd>

        <dt>
            Service Version :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_version)
        </dd>

        <dt>
            Image :
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.url)*@
            <img src="@Model.url" alt="Image" height="200" width="200" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditNasaDetail", Model) |
    @Html.ActionLink("Back to List", "Index")
</p>
